@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  font-family: 'Grape Nuts', cursive;
}

main {
  flex-grow: 1;
}

.listCard {
  margin-top: 9vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.119);
  margin-bottom: 9vh;
}

.vh-10{ 
  height: 10vh;
}

.lg-font {
  font-size: 5rem;
}


